* {
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  background: url(cool-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* black header on the top */
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0;

  background: #070707;
  z-index: 1;
}

/* Form -meaning blue box on the right*/

.form_info{
  top: 70px;
  position: relative;
  width: 35%;
  left: 2%;
  height: 650px;
  display: inline-block;
  background: #D5E8F3;
  border-radius: 20px;
  margin: 2%;
  overflow: hidden;
  text-align: center;
}

.form_info1{
  top: 70px;
  position: relative;
  width: 55%;
  left: 2%;
  height: 650px;
  display: inline-block;
  background: #D5E8F3;
  border-radius: 20px;
  margin: 2%;
  overflow: hidden;
  text-align: center;
}

.signout{
  position: absolute;
  padding-top: 5px;
  color: #fff;
  text-decoration: none;
  width: 80px;
  height: 26px;
  right: 5%;
  top: 8px;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  border-radius: 12px;
}

.back {
  position: absolute;
  padding-top: 5px;
  color: #fff;
  text-decoration: none;
  width: 80px;
  height: 26px;
  left: 5%;
  top: 8px;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  border-radius: 12px;
}

.form{
  position: absolute;
  padding-top: 5px;
  color: #fff;
  text-decoration: none;
  width: 80px;
  bottom: 10px;
  right: 5%;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  border-radius: 12px;
  
}

a span{
  position: absolute;
  background: #fff;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
      width: 0px;
      height: 0px;
  }
  100% {
      height: 500px;
      width: 500px;
      opacity: 0;
  }
}

@media screen and (max-width: 450px) {
  .form_info {
        overflow: auto;
        width: 93%; 
        height: auto;
    }
  .form_info1{
        overflow: auto;
        width: 93%; 
        height: auto;
    }
    
}

/*whenever text is enclosed within any blue box use this class with a div,text looks cleaner*/
.container{
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    text-align: left;
    position: relative;
}
.yellow{
    color:rgb(230, 230, 19);
  }
.comment{
    width: 90%;
    height: 60px;
    left:45%;
    top:85%;
  }

.dropbtn {
    background-color: rgb(116, 216, 250);
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #118fc0;
  }
  
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 5px 12px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 14px 20px 12px 30px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
#myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

