/* the same background */
* {
    font-family: sans-serif;
}

html {
    background: url(cool-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
body {
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0;

    background: #494949;
    z-index: 1;
}

.form_info{
    top: 70px;
    position: relative;
    width: 35%;
    left: 2%;
    height: 650px;
    display: inline-block;
    background: #D5E8F3;
    border-radius: 20px;
    margin: 2%;
    overflow: hidden;
    text-align: center;
}
.form_info1{
    top: 70px;
    position: relative;
    width: 55%;
    left: 2%;
    height: 650px;
    display: inline-block;
    background: #D5E8F3;
    border-radius: 20px;
    margin: 2%;
    overflow: hidden;
    text-align: center;
}

.container{
    top: 5%;
    left: 10%;
    width: 80%;
    height: 10%;
    text-align: left;
    position: relative;
}

.signout{
    position: absolute;
    width: 80px;
    height: 26px;
    right: 5%;
    top: 12px;

    background: #ff0038;
    color: white;
    border-radius: 12px;
}

.back {
    position: absolute;
    width: 80px;
    height: 26px;
    left: 5%;
    top: 12px;
    
    background: #ff0038;
    color: white;
    border-radius: 12px;
}



.form{
    position: absolute;
    background: #ff0038;
    color: white;
    border-radius: 12px;
    right: 5%;
    bottom: 5%;
    width: 80px;
    height: 26px;
    
}

.rev {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    background: #2196f3;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Everything under this controls the dynamic section */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter: blur(4px);
    background: #d1ebff ;
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

.testimonialBox {
    position: relative;
    width: 80%;
    padding: 40px;
    padding-top: 90px;
    color: #999;

}

.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;

}

.testimonialBox .details{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .imgBx{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow:hidden ;
    margin-right: 10px;


}

.testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.testimonialBox .details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}

.testimonialBox .details h3 span{
    font-size: 12px;
    color:#666;

}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-rigth {
    background-image: none;
}

/* Handles the t0p heading */
h1 {
    text-align: center;
}

/* responsive */
@media screen and (max-width: 450px) {
    .form_info {
        overflow: auto;
        width: 93%; 
        height: auto;
    }
    .form_info1{
        overflow: auto;
        width: 93%; 
        height: auto;
    }
    .swiper-slide{
        width: 250px;
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    }
  }