/* Adds the background */
html {
    background: url(cool-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body {
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0;

    background: #494949;
    z-index: 1;
}
/* 24-70- evething related to search bar */
.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #0398d3;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    border-radius: 12px left;
  }
  
.searchTerm:focus{
    color: #0398d3;
  }
  
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0398d3;
    background: #0398d3;
    text-align: center;
    color: #DCDCDC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background-image: url("icons8-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px right;
   
  }

.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.signout{
    position: absolute;
    width: 80px;
    height: 26px;
    right: 5%;
    top: 12px;

    background: rgb(250, 37, 37);
    border-radius: 12px;
}

li{
    display:inline;
}

#card {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subjectCard{
    top: 70px;
    position: relative;
    width: 20%;
    left: 1%;
    height: 268px;
    display: inline-block;
    background: linear-gradient(
        #D5E8F3,#D5E8F3 50%, #494949 50%, #494949
    ) ;
    background-size: 100% 200%;
    border-radius: 20px;
    transition: all 0.2s ease;
    margin: 2%;
    overflow: hidden;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 450px) {
  .subjectCard{
    width: 45%;
  }
  .wrap{
    left: 35%;
    width: 60%;
  }
}
.subjectCard:hover {
    background-position: 100% 100%;
  }

    
.subjectCard:hover h2 {
    color: white;
  }

.subjectCard:hover h4 {
    color: white;
  }


/* The link to other page. Work need to be done to make all of this more dynamic */

.subjectCard .ranklist{
    display: none;
    
}

.subjectCard:hover .ranklist{
    display: block;
    margin-left: 27%;
    padding: 5px;
    background: #0398d3;
    border-radius: 5px;
    position: relative;
    bottom: -30%;
    margin: 0 auto;

}
